/* app css stylesheet */

#contentWrapper {
  margin: 1em;
}

#headerBar {
}

body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;;
  background-color: #333333;
}

a {
  color: #f58809;;
  text-decoration: none;
}

a:hover {
  color: #ffaa38;;
  text-decoration: underline;
}

label {
  color: #f58809;;
  display: inline-block;
  float: left;
  clear: left;
  width: 5em;
  text-align: left;
}

input {
  display: inline-block;
  float: left;
}

select {
  display: inline-block;
  float: left; 
}

.notification {
  background: #111111;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-top: 0;
  padding: 0.5em 1em 0.5em;
}

.error {
  color: #ff0000;
}

.success {
  color: #ddff00;
}

.menu {
  background: #222222;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0.5em 1em 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
