<!doctype html>
<html lang="en" ng-app="bookingApp">
<head>
  <meta charset="utf-8">
  <title>Booking demo</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/jquery.ui.all.css">
</head>
<body ng-controller="NotificationsController">
  <div ng-repeat="notification in notifications">{{notification.message}}</div>

  <ul class="menu" ng-controller="MenuController">
    <li><a href="#/home">home</a></li>
    <li><a href="" ng-click="bookToday()">book today!</a></li>
  </ul>

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/jquery/jquery-1.9.1.js"></script>
  <script src="lib/jquery/jquery.ui.core.js"></script>
  <script src="lib/jquery/jquery.ui.widget.js"></script>
  <script src="lib/jquery/jquery.ui.datepicker.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
